.env
.idea/

gemini/.env
gemini_venv/
gemini/__pycache__/

langchain_venv/
langchain/__pycache__/
langchain/.env


weaviate_venv/
weaviate_service/__pycache__/
weaviate_service/.env
weaviate_service/db/__pycache__/*
weaviate_service/search/_pycache__/*
weaviate_service/db/__pycache__/weaviate_client.cpython-312.pyc
weaviate_service/search/__pycache__/
*/__pycache__/*
